footer{
    display: flex;
    position: absolute;
    bottom: 0;    
    background: #f0ffff;
    padding-top: 20px;}

.footer p{
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: black;
    border-radius: 10px ;
  }