.titulo{
  background-image: $BackgroudColor;
}
.bodyB{
  position: relative;
  padding-bottom: 10rem;
  background-image: $BackgroudColor;
  .btn{
    font-family: $fontSignika;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    color: black;
    border-radius: 8px;
    font-size: 3vh;
    border-style: none;
    text-align: center;
    margin: 1em 0 1em 0;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  }
  .btn.btnC{
    background-image: none;
    background-color: $botonColor;
    font-family: $fontMulish;
    font-size: 2vh;
  }
  .main{
      background-image: $ContainerColor;
      border: 2px solid white;
      margin: 0 auto;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  .card-body{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  
  .footerB{
      display: flex;
      position: absolute;
      bottom: 0;    
      background: #f0ffff;
      min-height: 100px;
      padding-top: 20px;
      bottom: 0;
      width: 100%;
    }
  .footerB p{
     text-align: center;
   }
   #iconos i{
     font-size: 26px;
     padding: 0 8px;
     color: black;
     border-radius: 10px ;
   }
}


