.titulo{
  background-image: $BackgroudColor;
}
.bodyB{
  position: relative;
  padding-bottom: 10rem;
  background-image: $BackgroudColor;
  .btn{
    background-color: #0cb8b8 !important;
    color: black;
  }
  .button-36 {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    border-radius: 8px;
    border-style: none;
    color: black;
    font-size: 35px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    font-family: $fontAnton;
  }
  .button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .2s;
  }
  .main{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border: 2px solid white;
    margin: 2rem 2rem 2rem !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  .card-body{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  
  .footerB{
      display: flex;
      position: absolute;
      bottom: 0;    
      background: #f0ffff;
      min-height: 100px;
      padding-top: 20px;
      bottom: 0;
      width: 100%;
    }
  .footerB p{
     text-align: center;
   }
   #iconos i{
     font-size: 26px;
     padding: 0 8px;
     color: black;
     border-radius: 10px ;
   }

    
}


