.bodyC {
  background-image: $BackgroudColor;
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
    
    .btn{
      font-family: $fontSignika;
      background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
      color: black;
      border-radius: 8px;
      font-size: 3vh;
      border-style: none;
      text-align: center;
      margin: 1em 0 1em 0;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;}
      .btn.btn-outline-primary{
        background-image: none;
        background-color: $botonColor;
        font-size: 2vh;
      }
}
footer{
  display: flex;
  position: absolute;
  bottom: 0;    
  background: #f0ffff;
  min-height: 100px;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
