footer{
    background: azure;
    min-height: 100px;

    footer p{
        text-align: center;
      }

      #iconos i{
        font-size: 26px;
        padding: 0 8px;
        color: black;
      }
  }