footer{
    background: #f0ffff;
    min-height: 100px;
    padding-top: 20px;

    footer p{
        text-align: center;
      }

      #iconos i{
        font-size: 26px;
        padding: 0 8px;
        color: black;
        border-radius: 10px ;
      }
  }
  $redes:(
    facebook: #7a7af0,
    instagram: #d497c5,
    whatsapp: #008000,
    envelope: #e98d8d,
);

@each $redesS, $colordered in $redes{
  .bi-#{$redesS}{
    background-color: $colordered;
  }
}
