@media screen and (max-width: 768px) {
    .bodyI{
 
        .imagenPrincipal {
            max-height: 490px;
            background-color: #f0ffff;
            background-image: none;
            background-repeat: none;
            background-size: none;
            background-position:none;
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            padding-inline: 0;
            border: none;
        }
    
            .imagenPrincipal h2{
            color: black;
            font-family: $fontAnton;
            text-align: center;
            font-size: 2em;}

            .imagenPrincipal p {
             color: black;
             font-size: 1.1rem;
            }

            .quienes-somos{
                margin: 0 !important;
                padding: 0 !important;
            }
  }
}
.bodyT{
    iframe{
        width: 96%;
    }
    .container{
        margin-bottom: 30px;
    }
}

.bodyB{
    padding-bottom: 20rem !important;
}

.bodyO{
    
    .container{
        margin: 2rem 2rem 2rem 2rem;
        padding: 2rem 2rem 2rem 2rem;
        margin: 0 auto;
    }
}

.bodyN{
    position: relative;
    padding-bottom: 10rem;

    .button-36 {
     font-size: 20px;
    }
    .footerN{
        display: flex;
        position: absolute;
        bottom: 0;    
        background: #f0ffff;
        min-height: 100px;
        padding-top: 20px;
        bottom: 0;
        width: 100%;
      }
   }
@media screen and (max-width: 480px) {
    .bodyI{

        .imagenPrincipal {
            max-height: 600px;
            background-color: #f0ffff;
            background-image: none;
            background-repeat: none;
            background-size: none;
            background-position:none;
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            padding-inline: 0;
            border: none;
        }
        .imagenPrincipal h2{
            color: black;
            font-family: $fontAnton;
            text-align: center;
            font-size: 1.2em;}
        
            .imagenPrincipal p {
                color: black;
                font-size: 0.9rem;
            }
        
            .quienes-somos{
            margin: 0 !important;
            padding:0 !important;
        }
       

        
  }
 }
    .bodyB{
        padding-bottom: 20rem !important;
    }
    .bodyC{
        position: relative;
        padding-bottom: 20rem !important;}
        
    .bodyS{
        padding-bottom: 20rem !important;}
        .mainS{
        margin: 0 !important;
        padding:0 !important;
    }

    .bodyL {
        position: relative;
        padding-bottom: 55rem !important;

        .login-box {
            padding-bottom: 20rem !important;
        }
      

    footer{
      display: flex;
      position: absolute;
      bottom: 0;    
      background: #f0ffff;
      min-height: 100px;
      padding-top: 20px;
      width: 100%;}
    }
    .bodyT{
        padding-bottom: 20rem !important;

    }
    .bodyCO{
        padding-bottom: 20rem !important;
    }
    .bodyO{
        padding-bottom: 20rem !important;

}
.bodyN{
    position: relative;
        padding-bottom: 20rem !important;
}

@media screen and (max-width: 320px)
{
    .bodyI{
        .imagenPrincipal {
            height: auto;
            max-height: 600px;
            background-color: #f0ffff;
            background-image: none;
            background-repeat: none;
            background-size: none;
            background-position:none;
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            padding-inline: 0;
            border: none;
        }
        .imagenPrincipal h2{
            color: black;
            font-family: $fontAnton;
            text-align: center;
            font-size: 1.2em;}
        
            .imagenPrincipal p {
                color: black;
                font-size: 0.9rem;
            }
    }
}
   