.menu{
    background-color: $mainColor ;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  .menu li a:hover{
    background-color: #f0ffff;
    scale: 110%;
  }
  .item-d{
    float: right;
  }
  .menu li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px 140px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;  
  }
  .title{
    -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
  animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both
  }
  @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
  @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}  