@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

$fontMulish: "Mulish", sans-serif;

$mainColor: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;

$BackgroudColor: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

