@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

$fontMulish: "Mulish", sans-serif;

$mainColor:#0cb8b8;

$BackgroudColor:linear-gradient(60deg, #96deda 0%, #50c9c3 100%);

