body {
    background-image: $BackgroudColor;
}
.imagenPrincipal {
  height: 80vh;
  background-image: url("../../../img/med1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding-inline: 40px;
  padding-right: 120vh;
  border: 1px solid black;
}

.imagenPrincipal h2{
  color: white;
}
.imagenPrincipal p {
  color: white;
}

.btn{
  background-color: #0cb8b8 !important;
  color: black;
}
.quienes-somos{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
  border: 1px solid black;
}

.main{
  border: 1px solid black;
 background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.card-body{
    border: 2px solid black;
  -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both
}

.video-card{
  height: 500px;
}


@for $card from 1 through 4 {
  .card#{$card}{
   animation-delay:$card*0.3s;}
}


@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

