@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/med2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100vh;
    color: black;}

.title{
    text-decoration: underline;
}

.boton{
    padding: 1%;
    margin: 0 auto;
    background-color: azure;
    display: block;
    width: fit-content;
}
.descripcion{
    text-decoration:underline;
}

.contenedor{
    width: 900px;
    height: 480px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
}
.pagina{
    border: 1px solid red;
}
.pagina.subtitulo{
    display: flex;
    justify-content: center;
    align-items:flex-end;

}