@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body {
    background: url(../img/fondoconectenos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100vh;
    width: 100%;
    color: black;}
.nav-item a:hover{
    font-size: 110%;
      }

