@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  background: url(../img/med2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vh;
  color: black;
}

.nav-item a:hover{
  font-size: 110%;
}

.btn{
  background-color: #0cb8b8;
}
