@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}
img{
  max-height: 203px;
  max-width: 300px;
}
.nav-item a:hover{
  font-size: 110%;
}


.btn{
  background-color: #0cb8b8;
}

footer{
  background: azure;
  min-height: 100px;
}

footer p{
  text-align: center;
}

#iconos i{
  font-size: 26px;
  padding: 0 8px;
  color: black;
}

.w-100 .d-flex .align-items-center .justify-content-center .flex-wrap{
  margin-top: 80% !important;
}

@media screen and (max-width 768px);{
 
  
}